@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.12.0/css/all.css');
.color-0 {
  color: #ffffff;
  margin: 3px;
}
.color-1 {
  color: #ff4444;
  margin: 3px;
}
.color-2 {
  color: #99cc00;
  margin: 3px;
}
.color-3 {
  color: #ffbb33;
  margin: 3px;
}
.color-4 {
  color: #0099cc;
  margin: 3px;
}
.color-5 {
  color: #33b5e5;
  margin: 3px;
}
.color-6 {
  color: #aa66cc;
  margin: 3px;
}
.color-8 {
  color: #cc0000;
  margin: 3px;
}
.color-9 {
  color: #cc0068;
  margin: 3px;
}

.no-grow {
  flex-grow: 0;
}
body {
  overflow: hidden;
}
em {
  font-style: normal;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.chat-window {
  font-family: 'Bai Jamjuree', sans-serif;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 600px;
  height: 200px;
  text-shadow: none;
  
}

.chat-messages {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 16px;
  /* transform: skew(-6deg);  */
}

.chat-input {
  font-size: 1.2rem;
  position: absolute;
  border-radius: 5px;
  top: 290px;
  left: 15px;
  width: 575px;
  box-sizing: border-box;
}

.suggestion p {
  margin: 0;
}

.prefix {
  position: absolute;
  margin-top: 2px;
  left: 4px;
}

textarea {
  font-size: 1.1rem;
  display: block;
  box-sizing: border-box;
  padding: 10px;
  text-shadow: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Bai Jamjuree', sans-serif;
  width: 90%;
  border-width: 0;
  height: 30px;
  min-height: 30px;
  font-size: 14px;
  overflow: hidden;
  border-radius: 5px;
  font-weight: 400;

}

::-webkit-resizer {
  display: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.msg {
  font-family: 'Bai Jamjuree', sans-serif;
  word-break: break-all;
  font-size: 14px;
  display: flex !important;
  width: 90%;
  margin: 0;
}

.suggestions {
  list-style-type: none;
  font-size: 1.1rem;
  box-sizing: border-box;
  color: white;
  width: 100%;
  background-color: transparent;
  padding: 5px;
  margin: 0;
  padding-left: 8px;
  padding-top: 8px;
  border-radius: 5px;
  font-weight: 400;
}
.suggestions-wrap {
  font-family: 'Bai Jamjuree', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: auto;
  padding: 0;
  width: 538px;
  margin-top: 15px;
  border-radius: 5px;
}
.default {

}
.help {
  color: #b0bbbd;
}

.disabled {
  color: #b0bbbd;
}

.suggestion {
  font-size: 12px;
  margin-bottom: 5px;
  text-shadow: none;
}
.linecode {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 14px;
}
.card-header-img {
  position: absolute;
  width: 392px;
}
.topright {
  z-index: 2;
  position: absolute;
  top: 8px;
  right: 8px;
}
.bottomright {
  z-index: 2;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

@media only screen and (max-width: 1601px) {
  .chat-window {
    transform: scale(0.7);
    left: -80px;
    top: -20px;
  }
  .chat-input {
    transform: scale(0.7);
    left: -80px;
    top: 170px;
  }
}